<!DOCTYPE html>
<html lang="en">
<head>
    <title>TreeMap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../static/scripts/bundleView.js"></script>
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <link rel="stylesheet" href="../../static/css/menu.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../../images/logo_small_icon_only_inverted.png">
</head>
<body>
<menu class="menu">
    <li class="menu-item">
        <button type="button" class="menu-btn" id="menu-delete-btn"><i class="fa fa-trash"></i> <span class="menu-text">Delete</span></button>
    </li>
</menu>

<div class="header">
    <a href="/treeMap">
        <img src="../../images/logo.svg" alt="logo" id="appLogo"/>
    </a>
    <h1 id="projectTitle">Project Title</h1>
    <ul id="linkList">
    </ul>
    <ul id="fileList">
    </ul>
</div>
<div class="main">
    <div id="GraphContainer">
        <svg id="graph">
            <defs>
                <marker
                        id="arrow"
                        markerUnits="strokeWidth"
                        markerWidth="7"
                        markerHeight="7"
                        viewBox="0 -5 10 10"
                        refX="11"
                        refY="0"
                        orient="auto">
                    <path d="M0,-5L10,0L0,5" style="fill: #b3b2b4;"></path>
                </marker>
            </defs>
        </svg>
    </div>
</div>
</body>
<footer>
    <a href="https://www.ius.uzh.ch/de/studies/e-learning.html">
        <img src="../../images/uzh_logo_d_pos.svg" alt="logo" id="uzhLogo"/>
    </a>
</footer>
</html>