html {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0
}

body {
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    min-width:1000px;
}

.header {
    padding: 10px 16px;
    background: #ffffff;
    color: #f1f1f1;
    z-index: 1;
    position: fixed;
    width: 100%;
}

#title, #projectTitle {
    margin-left: 180px;
    margin-bottom: 15px;
    color: black;
}

.closebtn {
    color: #b3b2b4;
    position: absolute;
    top: 0;
    right: 25px;
    margin: 0 -20px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.closebtn:hover {
    cursor: pointer;
}

#sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    overflow-y: auto;
    margin-top: 150px;
    border:1px solid rgba(179, 178, 180, 0.5);
    opacity: 0.8;
}

input[type="text"], textarea {
    background-color : #ffffff;
    width: 100%;
    border-radius:6px;
    border:1px solid rgba(179, 178, 180, 0.5);
    padding: 5px;
}

.main {
    height: 92%;
    padding-top: 147px;
}

@media screen and (max-height: 450px) {
    #sidebar {padding-top: 15px;}
    #sidebar a {font-size: 18px;}
}

h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0.1em;
}

.box {
    padding: 10px;
}

.content {
    height: 300px;
    padding: 16px;
}
* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    border: 1px solid #ddd;
    margin-top: 5px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    position: relative;
    border-radius:6px;
}

ul li:hover {
    background-color: #eee;
    cursor: pointer;
}

.Button, .deleteProjectBtn, .deleteFileBtn, .deleteLinkBtn, .linkBtn {
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
    margin: 3px;
}

#backButton {
    float: left;
}

.Button:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
}

.Button:active {
    position:relative;
    top:1px;
}

.table {
    height:100%;
    padding: 1% 5%;
    z-index: 0;
    overflow: auto;
}

#GraphContainer {
    height:100%;
    overflow: auto;
}

#popup {
    float: right;
    text-align: center;
    background-color: #2ca314;
    border-radius: 25px;
    padding:6px 24px;
    opacity: 50%;
    margin: 3px;
    font-weight:bold;
    font-size:15px;
    display: none;
    -webkit-transition: opacity 2000ms initial;
    transition: opacity 2000ms initial;
}

.tick text { display: none; }

.tick line, .domain {
    stroke: #666666;
    opacity: 20%;
}

#grid {
    z-index: -1;
}

#arrow {
    z-index: 10;
}

.circle {
    z-index: 10;
    fill: #b3b2b4;
    stroke: grey;
    opacity: 0.3;
}

.rect {
    stroke: #b3b2b4;
}

h1 {
    white-space: nowrap;
}

h5 {
    margin: 5px;
}

.foreign {
    opacity: 70%;
    stroke-dasharray: 5px;
}

#appLogo {
    z-index: 2;
    position: absolute;
    left: 35px;
    top: 35px;
    height: 60%;
}

#uzhLogo {
    height: 80px;
    float:right;
    clear:right;
    margin-top: 5px;
    margin-right: 2%;
}

#controls {
    margin-left: 180px;
}

.linkTxt {
    margin: 2px;
    padding: 3px;
}

.deleteProjectBtn, .deleteFileBtn, .deleteLinkBtn, .linkBtn {
    padding: 3px 10px;
    float: right;
    margin: -2px;
}

.linkBtn {
    margin-right: 3px;
}

#linkClearBtn {
    margin-left: -1px;
}

.titleText, .contentText, .descriptionText {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
}