<!DOCTYPE html>
<html lang="en">
<head>
    <title>TreeMap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/scripts/projects.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../images/logo_small_icon_only_inverted.png">
</head>
<body>
<div class="header" id="myHeader">
    <a href="/treeEditor">
        <img src="../images/logo.svg" alt="logo" id="appLogo"/>
    </a>
    <h1 id="projectTitle" >Projects</h1>
    <div id="controls">
        <a href="/treeEditor/project" id="newButton" class="Button"><i class="fa fa-plus-square"></i></a>
        <div id="popup">Project has been saved</div>
    </div>
</div>

</div>
<div class="main">
    <div class="table">
        <ul id="projects">
        </ul>
    </div>
</div>
</body>
<footer>
    <a href="https://www.ius.uzh.ch/de/studies/e-learning.html">
        <img src="../images/uzh_logo_d_pos.svg" alt="logo" id="uzhLogo"/>
    </a>
</footer>
</html>