<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tree-Editor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/scripts/bundle.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
<div id="main">
    <h2>Tree-Editor</h2>
    <div id="mySidebar" class="sidebar">
        <div id="absoluteCenteredDiv">
            <form action="/login" method="post">
                <div class="box">
                    <h1>Properties</h1>
                    <input class="username" name="username" type="text" placeholder="Title">
                    <input class="username" name="password" type="password" placeholder="Content">
                    <button type="submit" id="SignUp" class="button" name="submit" value="SignUp">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <svg id="graph">
    </svg>
</div>
</body>
</html>