<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tree-Editor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/scripts/bundle.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
<div class="header" id="myHeader">
    <h1 id="title">Tree-Editor</h1>
</div>
<div id="main">
    <div id="mySidebar" class="sidebar">
                <div class="box">
                    <form target="upload_target" method="post" enctype="multipart/form-data">
                        <h2>Properties</h2>
                        <p id="rectInfo"></p>
                        <h4>Title</h4>
                        <input id="titleText" type="text" name="Title" value=""><br><br>
                        <h4>Content</h4>
                        <input id="contentText" type="text" name="Content" value=""><br><br>
                        <h4>Color</h4>
                        <input id="colorPicker" type="color" name="favcolor" value="#ff0000"  ><br><br>
                        <h4>Files</h4>
                        <input id="fileChooserBtn" type="button" value="Import"><br><br>
                        <input id="fileChooser" type="file" name="file" style="display: none;" ><br><br>
                        <ul id="fileList">
                        </ul>
                    </form>
                </div>
    </div>
    <svg id="graph">
    </svg>
</div>
</body>
</html>