<!DOCTYPE html>
<html lang="en">
<head>
    <title>TreeMap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/scripts/bundle.js"></script>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/menu.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../images/logo_small_icon_only_inverted.png">
</head>
<body>
<menu class="menu">
    <li class="menu-item">
        <button type="button" class="menu-btn" id="menu-delete-btn"><i class="fa fa-trash"></i> <span class="menu-text">Delete</span></button>
    </li>
</menu>

<div class="header">
    <a href="/treeEditor">
        <img src="../images/logo.svg" alt="logo" id="appLogo"/>
    </a>
    <h1 id="projectTitle" contenteditable="true">Project Title</h1>
    <div id="controls">
        <a id="saveButton" class="Button"><i class="fa fa-save"></i></a>
        <a href='/treeEditor' id="backButton" class="Button"><i class="fa fa-home"></i></a>
        <div id="popup">Project has been saved</div>
    </div>
</div>
<div id="sidebar">
    <div class="box">
        <a class="closebtn">&times;</a>
        <form target="upload_target" method="post" enctype="multipart/form-data">
            <h2>Properties</h2>
            <p id="rectInfo" style="display: none;"></p>
            <p id="linkInfo" style="display: none;"></p>
            <h4>Title</h4>
            <textarea id="titleText" name="Title" rows="1" maxlength="25"></textarea>
            <h4>Description</h4>
            <textarea id="contentText" name="Content" rows="4" maxlength="140"></textarea>
            <h4>Links</h4>
            <input name="linkName" type="text" id="linkName" class="linkTxt" placeholder="Name" maxlength="21"/>
            <input type="text" id="linkVal" class="linkTxt" placeholder="URL"/>
            <a id="linkSaveBtn" class="Button"><i class="fa fa-save"></i></a>
            <a id="linkClearBtn" class="Button"><i class="fa fa-cut"></i></a>
            <ul id="linkList">
            </ul>
            <h4>Color</h4>
            <a id="colorPickerBtn" class="Button"><i class="fa fa-paint-brush"></i></a>
            <input id="colorPicker" type="color" name="favcolor" style="display: none;"><br>
            <h4>Files</h4>
            <a id="fileChooserBtn" class="Button"><i class="fa fa-upload"></i></a>
            <input id="fileChooser" type="file" name="file" style="display: none;">
            <ul id="fileList">
            </ul>
        </form>
    </div>
</div>
<div class="main">
    <div id="GraphContainer">
        <svg id="graph">
            <defs>
                <marker
                        id="arrow"
                        markerUnits="strokeWidth"
                        markerWidth="7"
                        markerHeight="7"
                        viewBox="0 -5 10 10"
                        refX="11"
                        refY="0"
                        orient="auto">
                    <path d="M0,-5L10,0L0,5" style="fill: #b3b2b4;"></path>
                </marker>
            </defs>
        </svg>
    </div>
</div>
</body>
<footer>
    <a href="https://www.ius.uzh.ch/de/studies/e-learning.html">
        <img src="../images/uzh_logo_d_pos.svg" alt="logo" id="uzhLogo"/>
    </a>
</footer>
</html>